<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
*List popular languages for Data Science
*List of data sicence open source tools
*Some arithmetic expression

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Pandas</li>
  <li>TensorFlow</li>
  <li>Numpy</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>GitHub</td>
  </tr>
  <tr>
    <td>GitLab</td>
     </tr>
     <tr>
    <td>Visual Studio</td>
     </tr>
</table>

<h3>Data Science Tools and Ecosystem<h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

<h2>Author:</h2>
Mustafa